@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
}

.wrapper>div {
    background: #eee;
    padding: 1em;
}

.wrapper>div:nth-child(odd) {
    background: #ddd;
}

.wrapper-2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1em;
}

.wrapper-2>div {
    background: #eee;
    padding: 1em;
}

.wrapper-2>div:nth-child(odd) {
    background: #ddd;
}


/*widget css*/

.color1 {
    background: #4e756b;
}

.color2 {
    background: #7b507c;
}

.color3 {
    background: #6c7a8f;
}

.color4 {
    background: #878f6c;
}

.card-body {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    margin: 10px;
    padding: 20px;
    width: 270px;
    height: 200px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.card-body h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.currency,
.count {
    font-size: 30px;
    font-weight: 500;
}

.card-body p {
    font-size: 16px;
    margin-top: 0;
}

.card-body i {
    font-size: 95px;
    opacity: 0.5;
}

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btncolor {
    color: white;
    background: #2b5a7a;
    background-image: -webkit-linear-gradient(top, #2b5a7a, #3d6682);
    background-image: -moz-linear-gradient(top, #2b5a7a, #3d6682);
    background-image: -ms-linear-gradient(top, #2b5a7a, #3d6682);
    background-image: -o-linear-gradient(top, #2b5a7a, #3d6682);
    background-image: linear-gradient(to bottom, #2b5a7a, #3d6682);
}

.btn:hover {
    color: white;
    background: #3d6682;
    background-image: -webkit-linear-gradient(top, #3d6682, #2b5a7a);
    background-image: -moz-linear-gradient(top, #3d6682, #2b5a7a);
    background-image: -ms-linear-gradient(top, #3d6682, #2b5a7a);
    background-image: -o-linear-gradient(top, #3d6682, #2b5a7a);
    background-image: linear-gradient(to bottom, #3d6682, #2b5a7a);
    text-decoration: none;
}

.btnadd {
    color: white;
    background: #2b7a31;
    background-image: -webkit-linear-gradient(top, #2b7a31, #3d8240);
    background-image: -moz-linear-gradient(top, #2b7a31, #3d8240);
    background-image: -ms-linear-gradient(top, #2b7a31, #3d8240);
    background-image: -o-linear-gradient(top, #2b7a31, #3d8240);
    background-image: linear-gradient(to bottom, #2b7a31, #3d8240);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btnadd:hover {
    color: white;
    background: #3d8240;
    background-image: -webkit-linear-gradient(top, #3d8240, #2b7a31);
    background-image: -moz-linear-gradient(top, #3d8240, #2b7a31);
    background-image: -ms-linear-gradient(top, #3d8240, #2b7a31);
    background-image: -o-linear-gradient(top, #3d8240, #2b7a31);
    background-image: linear-gradient(to bottom, #3d8240, #2b7a31);
    text-decoration: none;
}

.btndel {
    color: white;
    background: #7a2b2b;
    background-image: -webkit-linear-gradient(top, #7a2b2b, #823d3d);
    background-image: -moz-linear-gradient(top, #7a2b2b, #823d3d);
    background-image: -ms-linear-gradient(top, #7a2b2b, #823d3d);
    background-image: -o-linear-gradient(top, #7a2b2b, #823d3d);
    background-image: linear-gradient(to bottom, #7a2b2b, #823d3d);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btndel:hover {
    color: white;
    background: #823d3d;
    background-image: -webkit-linear-gradient(top, #823d3d, #7a2b2b);
    background-image: -moz-linear-gradient(top, #823d3d, #7a2b2b);
    background-image: -ms-linear-gradient(top, #823d3d, #7a2b2b);
    background-image: -o-linear-gradient(top, #823d3d, #7a2b2b);
    background-image: linear-gradient(to bottom, #823d3d, #7a2b2b);
    text-decoration: none;
}

.inputselect {
    font-size: 16px;
}

.inputfile {
    font-size: 14px;
}